.column {
    // Set initial column width as 12 all the time
    grid-column: span 12;

    // Set starting column width
    @for $column from 1 through 12 {
        @include make-columns($column);
    }

    @each $name,
    $size in $breakpoints {
        @media (min-width: #{$size}) {
            &-#{$name} {
                @for $column from 1 through 12 {
                    &-#{$column} {
                        grid-column: span #{$column};

                        @each $name,
                        $size in $breakpoints {
                            @for $offset from 1 through 6 {
                                &.offset-#{$name}-#{$offset} {
                                    grid-column: #{$offset + 1} / span #{$column};
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}