@mixin make-columns($column) {
    &-#{$column} {
      grid-column: span #{$column};
    }
  }


@mixin make-offsets() {

    @each $name,
    $size in $breakpoints {

        @media (min-width: #{$size}) {
            .offset {
                @for $column from 1 through 12 {
                    $num: $column / $column / 2;

                    &-#{$name}-#{$column} {
                        margin-left: if($num==0, 0, percentage($num));
                    }
                }
            }
        }
    }
}